@charset "utf-8";
/* ----- Noto Sans KR ---- */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/NotoSansKR-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSansKR-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NotoSansKR-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/NotoSansKR-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/NotoSansKR-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/GmarketSansTTFLight.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GmarketSansTTFMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GmarketSansTTFBold.ttf') format('truetype');
}
/* ------------------------------------------ reset ------------------------------------------ */
html {margin:0; padding:0; font-size:62.5%;}
@media screen and (max-width:1023px) { html {font-size:10px} }
@media screen and (max-width:719px) { html {font-size:6px} }
@media screen and (max-width:370px) { html {font-size:5.5px} }
@media screen and (max-width:350px) { html {font-size:5px} }
@media screen and (max-device-height:420px) and (orientation: landscape) { html {font-size:6px} } /* 모바일 가로모드 */
body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table, font {color:#212121; font-size:1.4rem; font-family:'Noto Sans KR','맑은 고딕','Malgun Gothic','돋움','Dotum','AppleGothic',sans-serif; line-height: 1.45; font-weight:400; word-wrap:break-word; word-break:keep-all;}
label {vertical-align:middle}
address, em {font-style:normal}
fieldset, img {border:0; vertical-align:middle}
button {border:0; background-color:transparent; vertical-align:middle; cursor:pointer; outline:none;}
/* button > span {position:relative;} */
ul, ol, dl, dd, li {list-style:none; padding:0; margin:0;}
input, textarea, select {border:0; vertical-align:middle;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block}
a {text-decoration:none; color:#212121; outline:none;}
a:hover {text-decoration:none}
table {width:100%; border-spacing:0; border-collapse:collapse;}
iframe {margin:0; border:0; width:100%; height:100%}
body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table, font, p {margin:0;}
input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], select {-webkit-box-sizing:border-box;box-sizing:border-box; -webkit-border-radius:0; -webkit-appearance:none;}
input[type="text"]::-ms-reveal, input[type="password"]::-ms-reveal, input[type="number"]::-ms-reveal, input[type="tel"]::-ms-reveal, input[type="email"]::-ms-reveal {display: none; width:0; height: 0;}
input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], input[type="date"]:focus {vertical-align:middle}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none; margin:0}
textarea {-webkit-border-radius:0; -webkit-appearance:none; border-radius: 0; appearance: none;}
input[type="image"] {-webkit-border-radius:0; -webkit-appearance:none; appearance: none; border-radius: 0;}
input[type="button"], input[type="submit"] {-webkit-appearance:button; appearance: button; border-radius:0}
input:-webkit-autofill, textarea:-webkit-autofill, 
select:-webkit-autofill {-webkit-box-shadow:0 0 0 3rem white inset}
select::-ms-expand {display: none;}

figcaption, caption, legend, .blind, .skip, .hiddenItem {position:fixed; overflow: hidden; border: 0; margin:-1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%);}
caption {position:static;}
.hidden {display:none !important;}