@import url("../css/base.css");
html, body {
    width:100%;
    height:100%;
}
body {
    padding: 0;
    margin:0;
    background-color:#f8fafc;
}
.container {
    width:100%;
    height:100%;
}
/* 레이아웃 영역 */
.main {
    width:100%;
    max-width:76.8rem;
    margin:0 auto;
}
.main .contents {
    padding:2rem;
    margin:1.5rem 0 0;
}

/* 컨텐츠 헤더 영역 */
.header_box {
    display:flex;
}
.header_box > .btn_link {
    flex:1;
    display:flex;
    justify-content: center;
    padding:2rem 0;
    font-size:1.8rem;
    border-bottom:2px solid transparent;
}
.header_box > .btn_link.active {
    color:#b91c1c;
    font-weight:500;
    border-bottom:2px solid #b91c1c;
}
/* 컨텐츠 영역 */
.contents h2 {
    margin:1.2rem 0;
    font-family: 'GmarketSans', sans-serif;
    font-size:4rem;
    line-height: 1.45;
    font-weight: 700;
}
.contents .main_tit {
    font-size:4rem;
    line-height:1.45;
    font-weight:700;
}
.contents .tit {
    font-size:2.8rem;
    font-weight:700;
    line-height:1.45;
}
.contents .sub_txt {
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    display: inline-block;
}
.contents .list_box {
    display:flex; 
    align-items:flex-start;
    gap:2rem;
    margin: 1.6rem 0;
}
.contents .list_box .left {
    flex-shrink: 0;
    min-width:11rem;
}
.contents .list_box .left > p {
    display:flex;
    justify-content: space-between;
}
.contents .list_box .left > p > span {
    font-size:2rem;
    font-weight:700;
}
.contents .list_box .right > p {
    font-size:2rem;
    font-weight:500;
    position:relative;
}
.contents .list_box .right > .small {
    font-size:1.6rem;
    font-weight:400;
}
.contents .list_box .right > .spot {
    margin-left:1.8rem;
}
.contents .list_box .right > .spot::after {
    content:'●';
    position:absolute;
    left:-1.6rem;
    top:.9rem;
    font-size:.8rem;
}
.contents .list_gray__box {
    background-color: #f1f1f1;
    padding:5rem;
    margin:5rem 0;
}
.contents .list_gray__box > .tit {
    font-size:3.2rem;
    margin:1.6rem 0;
    font-weight:700;
}
.contents .list_gray__box ul > li {
    margin:.8rem 0 0;
}
.contents .list_gray__box ul > li:first-child {
    margin:0;
}
.contents .list_gray__box ul > li > span {
   font-size:2.4rem;
   font-weight:700; 
}
.contents .list_gray__box ul > li > p {
    font-size:2rem;
    font-weight:400;
    margin:0 0 0 .8rem;
    line-height:1.4;
}
.contents .schedule_line {
    margin: auto;
    width: 64rem;
}
.contents .schedule_line > ul > li {
    display: flex;
    gap: 20px;
    position: relative;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight:500;
}
.contents .schedule_line > ul > li > label {
    width:12rem;
}
.contents .schedule_line > ul > li > label:before {
    content: "DAY ";
}
.contents .schedule_line > ul > li:first-child > label:before, .contents .schedule_line > ul > li:last-child > label:before {
    content: ""; 
}
.contents .schedule_line > ul > li > div {
    position: relative;
}
.contents .schedule_line > ul > li > div:before {
    display: block;
    content: "";
    width: 2px;
    height: calc(100% + 5px);
    background-color: #000;
    display: inline-block;
    position: absolute;
    left: -33px;
    top: 19px;
}
.contents .schedule_line > ul > li:last-child > div::before {
    display:none;
}
.contents .schedule_line > ul > li > div:after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    left: -40px;
    top: 4px;
    border-radius: 50%;
}
.contents .schedule_line > ul > li > div > ul {
    width:31rem;
}
.contents .schedule_line .exp_txt {
    margin:.8rem 0;
    font-size:1.4rem;
    color:#f00; 
    text-align:left;
}